body {
    background-color: rgba(254, 139, 5, 0.81)
}

header {

}


img {
    border-radius: 5px;
    margin: 2em;
}

nav {

    float: right;
    height: 5em;
    margin-right: 3em;
    margin-top: 6em;
    width: 70%;

}

a:link {
    color: rgb(105, 49, 154);
}

a:visited {
    color: rgb(233, 22, 22)
}

aside {
    float: left;
    height: 54em;
    margin-top: 6em;
    padding: 16px;
    width: 10%;
}

main {

    height: 60em;
}

h1 {
    margin-left: 11em;
}

section {

    float: right;
    height: 7em;
    padding: 1em;
    width: 68%;
}

h2 {
    font-size: 20px;
}

footer {

    padding: 1em

}

header, nav, aside, main, section, footer {
    display: block;

}

h1, h2 {
    text-align: center;
}
